.entete{
	background-color:rgb(72,198,236);
}

//.contenu h3{
//	border: 1px solid #6988BE;
//	background-color: #E9F1FE;

//}
 
.arrondi {
background:url(../images/iconePdf.png);
border:none;
width: 60px; /* largeur à spécifier */
height: 60px; /* longueur à spécifier */
cursor: pointer;
}